{% extends "_base.html" %}
{% load bootstrap4 %}

{% block page_title %}買い物リスト{% endblock %}

{% block content %}
<div class="row justify-content-left">
  {% if shopping_list %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>商品</th>
          <th>お店</th>
          <th>価格</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for purchase in shopping_list %}
          <tr>
            <td>{{ purchase.item }}</td>
            <td>{{ purchase.shop }}</td>
            <td>{{ purchase.price }}</td>
            <td><a class="btn btn-secondary " href="#">削除</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>買う物はありません。</p>
  {% endif %}
</div>
{% endblock %}